<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <div>
        <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="100%" height="100%"
          alt="Đây là ảnh của Linh và Chồng Ló">
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center">
      <div style="text-align: center; margin: 50px 0;">
        <p style="    border-top: 1px solid; color: rgb(237, 18, 18);">Trân trọng kính mời</p>
        <h1>Quý vị và các bạn</h1>
        <p>Đến dự lễ thành hôn của hai chúng tôi</p>
        <div class="col-sm-12 d-flex justify-content-md-center">
          <div class="d-flex">
            <div class="col-5 actor">
              <div class="col">
                <marquee direction="right">
                  <img src="./assets/images/150259945_1891695531008335_8310081829771675343_o.jpg" width="400"
                    height="400" alt="Đây là ảnh của Linh và Chồng Ló">
                </marquee>
              </div>
              <b> Chú Rể</b><br />
              <i> Đinh Văn Hiệu </i>
            </div>
            <div class="col-auto actor" style="margin-top: 8rem;">
              <div class="col">
                <img style="border-radius: 0!important;" src="./assets/images/Love_you.png" width="200" height="200"
                  alt="Đây là ảnh của Linh và Chồng Ló">
              </div>
            </div>
            <div class="col-5 actor">
              <marquee>
                <img src="./assets/images/150259945_1891695531008335_8310081829771675343_o.jpg" width="400" height="400"
                  alt="Đây là ảnh của Linh và Chồng Ló">
              </marquee>
              <b> Cô Dâu</b><br />
              <i>Lê Thu Hoài Linh</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="d-flex">
            <img src="./assets/images/Love6.png" width="100" height="100" alt="Đây là ảnh của Linh và Chồng Ló">
          <h1>Bộ sưu tập ảnh cưới</h1>
          </div>
          <div class="col">
            <img src="./assets/images/150259945_1891695531008335_8310081829771675343_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-6">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-5">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-5">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-5">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center p-5">
      <div style="text-align: center;">
        <div class="d-flex">
          <img src="./assets/images/Love_you2.png" width="100" height="100" alt="Đây là ảnh của Linh và Chồng Ló">
          <h1 style="padding: 21px 0 0;">Hoạt động diễn ra</h1>
          <img src="./assets/images/Love_you3.png" width="100" height="100" alt="Đây là ảnh của Linh và Chồng Ló">
        </div>
        <div class="row">
          <div class="col">
            <b style="border-bottom: 1px solid rgb(239, 74, 74);">08:00 AM, 31-03-2021</b>
            <p>Ăn hỏi</p>
            <h5 style="color: rgb(224, 56, 120);">Diễn ra hoạt động ăn hỏi giữa 2 gia đình</h5>
          </div>
          <div class="col-4" style="    border-right: 1px solid ;
          border-left: 1px solid ">
            <b style="border-bottom: 1px solid rgb(239, 74, 74);">04:00 pm, 31-03-2021</b>
            <p>Tiệc cưới-Ca múa hát</p>
            <h5 style="color: rgb(224, 56, 120);">Tổ chức tiệc cho bạn bè
              của cô dâu, chú rể.
              Bạn bè, hàng xóm của bố mẹ
              hai bên gia đình</h5>
            <h5 style="color: rgb(224, 56, 120);">Uống nước, hát karaoke
              cùng gia đình</h5>
          </div>
          <div class="col">
            <b style="border-bottom: 1px solid rgb(239, 74, 74);">01:00 PM, 01-04-2021</b>
            <p>Lễ thành hôn</p>
            <h5 style="color: rgb(224, 56, 120);">Đón dâu tại nhà gái</h5>
            <h5 style="color: rgb(224, 56, 120);">lúc 01:00 PM - 03:00 PM</h5>
            <h5 style="color: rgb(224, 56, 120);">Tổ chức tiệc tại nhà trai cho
              họ hàng của hai bên gia đình.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center p-5">
      <div style="text-align: center;">
        <div class="d-flex">
          <img src="./assets/images/Love_you4.png" width="100" height="150" alt="Đây là ảnh của Linh và Chồng Ló">
          <h1 style="padding: 21px 0 0;">Địa điểm tổ chức</h1>
        </div>
        <b class="address" style="font-size: 20px;">Nhà trai: Thôn Bài Lâm Hạ, Hồng Quang, Ứng Hòa, Tp. Hà Nội</b> <br /><br />
        <b class="address" style="font-size: 20px; padding-bottom:20px">Nhà gái: Thôn bài Lâm Thượng, Hồng Quang, Ứng Hòa, TP. Hà Nội</b>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center">
      <div class="d-flex banner">
        <img src="./assets/images/Love_you2.jpg" width="150" height="150" alt="Đây là ảnh của Linh và Chồng Ló">
        <div class="col-6" style="border-right: 1px solid rgb(247, 64, 64);">
          <b> Ăn hỏi-Tiệc cưới</b><br />
          <i> 8:00 AM - 6:00 PM </i>
          <p> Ngày 31 tháng 03 năm 2021</p>
          <p>(Tức ngày 19 tháng 02 năm Tân Sửu)</p>
        </div>
        <div class="col-6">
          <b> Lễ thành hôn</b><br />
          <i> 1:00 PM - 3:00 PM</i>
          <p>Ngày 01 tháng 04 năm 2021</p>
        </div>
        <img src="./assets/images/Love_you5.png" width="150" height="150" alt="Đây là ảnh của Linh và Chồng Ló">
      </div>
    </div>
  </div>
</div>
