.container {
  font-family: "Dancing Script", cursive;
  // font-family: "Petit Formal Script", cursive
  h1 {
    font-family: "Dancing Script", cursive;
    padding: 10px;
    // color: rgb(242, 75, 75);
    color: #154065;
  }
  p {
    font-size: 25px;
    // color:rgb(247, 122, 4)
    color:#154065;
  }
  .row {
    margin-top: 20px;
  }
  .actor {
    // margin: 20px;
    i{
      font-size: 25px;
      font-family: "Dancing Script", cursive;
      // color:rgb(242, 71, 9);
      color: #154065;
    }
    img,marquee {
      border-radius: 999px;
    }
  }
  .banner {
    i{
      font-size: 20px;
      font-family: "Dancing Script", cursive;
      // color: red
      color:#154065;
    }
    p{
      font-size: 20px !important;
    }
    // border: 1px solid rgb(247, 64, 64);
    text-align: center;
    border-radius: 20px;
    margin: 20px;
  }
  .address{
    font-family: "Dancing Script", cursive;
  }
}
