<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <div>
        <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg"  width="100%" height="100%"
          alt="Đây là ảnh của Linh và Chồng Ló">
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center">
      <div style="text-align: center;">
        <p>Trân trọng kính mời</p>
        <h1>Quý vị và các bạn</h1>
        <p>Đến dự lễ thành hôn của hai chúng tôi</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
            <h1>Bộ sưu tập ảnh cưới</h1>
          <div class="col">
            <img src="./assets/images/150259945_1891695531008335_8310081829771675343_o.jpg"  width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-6">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col-5">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
          alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
          <div class="col">
            <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
          alt="Đây là ảnh của Linh và Chồng Ló">
          </div>
        </div>
        <div class="row">
            <div class="col">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
            <div class="col-5">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
            <div class="col">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
              alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
            <div class="col-5">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
            <div class="col">
              <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg" width="200" height="200"
            alt="Đây là ảnh của Linh và Chồng Ló">
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-md-center">
        <div style="text-align: center;">
          <h1>Hoạt động diễn ra</h1>
        </div>
      </div>
      <div class="col-sm-12 d-flex justify-content-md-center">
        <div style="text-align: center;">
          <h1>Địa điểm tổ chức</h1>
        </div>
      </div>
  </div>
</div>
