<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <img src="./assets/images/150611193_121712116531269_4136918881545337127_o.jpg"
          alt="Đây là ảnh của Linh và Chồng Ló">
      </div>
    </div>
    <div class="col-sm-12 d-flex">
      <div class="justify-center">
          <h4>Trân trọng kính mời</h4>
          <h1>Quý vị và các bạn</h1>
          <h3>Đến dự lễ thành hôn của hai chúng tôi</h3>
      </div>
    </div>
    <div class="col-sm-12">
      One of three columns
    </div>
  </div>
</div>
